<section ng-include="'example/views/example.client.view.html'"></section>
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" ng-bind="title"></h1>
    </div><!-- /.col-lg-12 -->
  </div>
  <div class="row">
    <section data-ng-controller="ArticlesController" data-ng-init="find()">
      <ul>
        <li data-ng-repeat="article in articles">
          <a data-ng-href="#!/articles/{{article._id}}" data-ng-bind="article.title"></a>
          <br>
          <small data-ng-bind="article.created | date:'medium'"></small>
          <small>/</small>
          <small data-ng-bind="article.creator.fullName"></small>
          <p data-ng-bind="article.content"></p>
        </li>
      </ul>
      <div data-ng-hide="!articles || articles.length">
        No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
      </div>
    </section>
  </div>
</div>